* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid black;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float:right;
}

.btn {
    background-color: #0a58ca;
    border-radius: 20px;
    height: 40px;
    color: white;
    font-weight: bold;
}

.padding {
    padding: 1.5rem 0;
}

.padding-bottom {
    padding-bottom: 1.5rem;
}

section {
    margin-bottom: 20px;
}


/* header */
header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

/* nav-top */
nav.top {
    background-color: black;
    height: 30px;
}

nav.top .sfondo-logo-image{
    height: 100%;
}

nav.top .sfondo-logo-image img{
    height: 20px;
    margin-top: 5px;
}

/* nav bottom */
header .navbar-light .navbar-nav .nav-link {
    color: var(--black);
}

.nav-right {
    padding: 0 25px;
}

.nav-right li{
    display: inline-block;
    color: var(--black);
}

.nav-right li a{
    color: var(--black);
    text-decoration: none;
}

.nav-link:focus, .nav-link:hover {
    color: var(--black);
}

#accedi {
    padding: 0 20px;
    text-decoration: none;
}

#accedi a{
    background-color: black;
    color: white;
}

#search  {
    padding-left: 10px;
}
/* / header */

/* main */
main {
    padding-top: 105px;
}

/* jumbotron */
section#jumbotron {
    height: 650px;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

#jumbotron .container {
    height: 100%;
    position: relative;
}

.row.box-jumbo {
    position: absolute;
    bottom: 10vh;
    left: 0;
}

.banner-returnal {
    width: 200px;
}

.banner-returnal img {
    width: 100%;
}

.box-jumbo .btn {
    background-color: orangered;
}

/* card */

#card img, .box-card img {
    width: 100%;
    border-radius: 20px;
}
 /* playstation-5 */
 #playstation-5 {
     margin-top: 150px;
 }

 #playstation-5 .ps5-top {
    text-align: center;
 }

 #playstation-5 .ps5-top a{
    text-decoration: none;
    font-weight: bold;
 }

 #playstation-5 .ps5-top h2 {
    font-size: 40px;
    margin-bottom: 20px;
 }

 #playstation-5 span {
     color: grey;
     font-size: 18px;
 }

 #playstation-5 img {
     width: 100%;
 }

 .ps5-box-left a{
     margin-top: 25px;
 }

 .ps5-box-left .box-left {
    position: relative;
    top: 43%;
    padding: 20px 0;
 }

 .card-ps5 img {
     width: 100%;
 }

 .card-ps5 .row-card-ps5 {
     justify-content: space-around;
 }

 /* game */
 #game-top {
    height: 667px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
}

#game-top .container {
    height: 100%;
    position: relative;
}

.row.box-game {
    position: absolute;
    bottom: 10vh;
    left: 0;
}

.banner-it-takes {
    width: 200px;
}

.banner-it-takes img {
    width: 100%;
}

.box-game .btn {
    background-color: orangered;
}

/* game bottom */
#game .game-bottom {
    color: white;
    background-color: rgb(53, 53, 53);
}

.game-bottom .container {
    padding: 50px 0;
}

.game-bottom h2 {
    font-size: 35px;
}

.game-bottom p:first-child {
    font-size: 25px;
}

/* ps4 */
#ps4 .intro-ps4 {
    text-align: center;
    padding: 0 70px;
}

#ps4 .container img{
    width: 100%;
}

#ps4 span {
    margin: 20px 0;
    display: block;
    color: grey;
    font-size: 20px;
    padding-right: 45px;
}

/* playstation plus */
section#playstation-plus {
    background-color: rgb(190, 186, 186);
}

#playstation-plus .box-text {
    align-self: center;
}

#playstation-plus img {
    width: 100%;
}

#logo-plus {
    width: 350px;
}

#playstation-plus .box-text p {
    font-weight: bold;
    color: black;
}

.box-text .btn {
    background-color: #d9ddeb;
    color: #0a58ca;
}

/* Playstation store */
#playstation-store .store-sconti {
    text-align: center;
}

.store-sconti {
    padding: 50px 0;
}

.store-sconti .container {
    padding: 50px 0;
}

.store-sconti .row img {
    width: 100%;
}


/* playstation now */
section#playstation-now {
    background-color: rgb(190, 186, 186);
}

#playstation-now .box-text {
    align-self: center;
}

#playstation-now img {
    width: 100%;
}

#logo-now {
    width: 350px;
}

.box-text .btn {
    background-color: white;
    color: #0a58ca;
    
}

@media screen and (max-width: 992px){
    .nav-right {
        display: none;
    }
    
    
}

@media screen and (max-width: 768px){
    .box-image {
        display: none;
    }
    
}

